@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --box: 240 4.8% 95.9%;
    --box-foreground: 240 5.9% 10%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;

    /* NAVIGATION */
    --layout-sidebar-width: 244px;
    /* MAX WIDTH */
    --container-max-width: 1200px;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --box: 240 5.9% 10%;
    --box-foreground: 240 4.8% 95.9%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.ui-layout {
  height: 100vh;
  overflow-x: hidden;
  flex-grow: 1;
  display: grid;
  align-items: start;
  grid-template-columns: var(--layout-sidebar-width) 1fr;
  grid-template-rows: auto 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "ui-layout-sidebar ui-layout-navbar"
    "ui-layout-sidebar ui-layout-content";
}

.ui-layout-sidebar {
  grid-area: ui-layout-sidebar;
  position: sticky;
  top: 0;
  z-index: 30;
  height: 100%;
}

.ui-layout-navbar {
  grid-area: ui-layout-navbar;
  position: sticky;
  top: 0;
  z-index: 20;
}

.ui-layout-content {
  grid-area: ui-layout-content;
  display: flex;
  width: calc(100vw - var(--layout-sidebar-width));
}

@media only screen and (max-width: 768px) {
  .ui-layout {
    grid-template-columns: 0 100%;
    grid-template-rows: 70px auto;
    height: 100%;
  }

  .ui-layout-content {
    width: 100vw;
  }

  .ui-layout-navbar {
    left: 0;
    width: 100%;
    position: fixed;
    height: initial;
  }

  .ui-layout-content-page {
    max-width: 100%;
  }

  .ui-layout-sidebar {
    display: none;
  }
}
